<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saving user</title>
</head>
<body>
<h1> Saving User </h1>

<form action="#" th:method="POST" th:action="saveUser" th:object="${user}">
    <p th:text="'User id: ' + ${user.getId()}">ID</p>

    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name" required/>
    <br/>

    <label for="lastname">Lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname" required/>
    <br/>

    <label for="lastname">Lastname: </label>
    <input type="text" th:field="*{email}" id="email" required/>
    <br/>

    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age" required/>
    <br/>

    <input type="submit" value="OK">

</form>
</body>
</html>